{% extends "core/info/base.html" %}

{% block info_page_class %}legal-page{% endblock %}
{% block info_eyebrow %}Документы{% endblock %}

{% block info_content %}
<section class="legal-section">
  <h2>Контактные данные</h2>
  <ul class="legal-list">
    <li>Юридический адрес: 140104, Московская область, г.Раменское, ул.Лучистая, д.2 кв 333</li>
    <li>ИНН: 051485653082</li>
    <li>ОГРНИП: 319502700005018 от 24.01.2019</li>
    <li>E-mail: <a href="mailto:glock17.work@mail.ru">glock17.work@mail.ru</a></li>
    <li>Телефон: <a href="tel:+79634446066">+7 963-444-60-66</a></li>
  </ul>
</section>

<section class="legal-section">
  <h2>Банковские реквизиты</h2>
  <ul class="legal-list">
    <li>Расчётный счёт: 40802810500002260110</li>
    <li>Корр. счёт: 30101810645374525068</li>
    <li>Банк: ООО «ОЗОН Банк»</li>
    <li>БИК: 044525068</li>
    <li>ИНН Банка: 9703077050</li>
    <li>Юр. адрес банка: РФ, 123112, г. Москва, вн.тер.г. Муниципальный Округ Пресненский, Пресненская наб., дом 10, этаж 19</li>
  </ul>
</section>
{% endblock %}
